@model IEnumerable<attendance.Models.Absence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dateheure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eleve.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matiere.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dateheure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Eleve.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matiere.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
